If you're making an effort to lose weight, and you're measuring what you eat to, you end up spending time in supermarket aisles reading nutrition labels. Here's the big hits of what you should be looking for:<br><br>
<h1>1. Calories per serving.</h1><br><br>
Remember? I was just hammering about how important calories were. We'll be talking a lot about calories. 10x your weight in calories, and you'll lose weight.
<h1>2. Serving size</h1><br><br>
Jim Gaffigan had a bit about the guys who put a half-cup as the serving size on ice cream as a joke, and it ended up going out that way. Know exactly how much comes with that calorie on the label. The label might say 100 calories on a bag of chips, but that bag of chips has 3 servings. <br><br>
<h1>3. Protein</h1><br><br>
Protein is generally more filling than fats or carbs. It's also the macronutrient that tends to be the hardest to casually eat because most snacks don't have it. Keep low-protein foods to a minimum, or switch protein for carbs when possible.

